/* 用於index */
div.link1 a {
  color: red;
}

div.link2 a {
  color: darkorange;
}

.red-text {
  color: red;
}

P::before {
  content: ">>";
  color: blue;
}

P::first-line {
  font-size: 32px;
}

*::selection {
  background-color: lightgreen;
}
