div.container {
  width: 500px;
  height: 500px;
  background-color: black;
}

div.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
  transition: all 1s;
}

div.box:hover {
  transform: translate(125px, 125px);
  transform: rotate(180deg);
  scale: 0.5;
}
